/* line 5, app/assets/stylesheets/welcomes.scss */
body {
  overflow: hidden;
  background-color: #0B0D23 !important;
  margin: 0;
  padding: 0;
  color: white;
}

/* line 13, app/assets/stylesheets/welcomes.scss */
.chorus {
  margin-left: 30px;
}

/* line 16, app/assets/stylesheets/welcomes.scss */
.modal-content {
  background-color: #0B0D23 !important;
  opacity: 0.9;
}

/* line 20, app/assets/stylesheets/welcomes.scss */
.modal-dialog {
  margin-left: 25% !important;
  width: 50%;
  height: 100%;
  transition: none;
}

/* line 26, app/assets/stylesheets/welcomes.scss */
.close {
  color: #f92509;
  opacity: 1;
  margin-right: 10px;
  z-index: 10053;
  padding: 5px !important;
  border-style: 1px solid;
}

/* line 34, app/assets/stylesheets/welcomes.scss */
.lyric {
  opacity: 1 !important;
}

/* line 37, app/assets/stylesheets/welcomes.scss */
.modal {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -webkit-overflow-scrolling: auto !important;
  overflow-y: auto !important;
}

@media (max-width: 1550px) {
  /* line 46, app/assets/stylesheets/welcomes.scss */
  .modal-dialog {
    margin-top: 5em !important;
    margin-left: 2.5% !important;
    width: 94%;
    height: 100%;
    transition: none;
  }
}

/* line 55, app/assets/stylesheets/welcomes.scss */
.col-md-scroll {
  width: 25px;
}

/* line 59, app/assets/stylesheets/welcomes.scss */
#drawModal {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

/* line 61, app/assets/stylesheets/welcomes.scss */
#drawModal .modal-dialog {
  margin-top: 0 !important;
  margin-left: 0 !important;
  width: 100%;
  transition: none;
}

/* line 74, app/assets/stylesheets/welcomes.scss */
#example {
  z-index: 10000;
}

/* line 76, app/assets/stylesheets/welcomes.scss */
#example .modal-dialog {
  opacity: 1;
}

/* line 80, app/assets/stylesheets/welcomes.scss */
#color-sample, #color-picker {
  opacity: 1;
}

/* line 85, app/assets/stylesheets/welcomes.scss */
#drawing-canvas {
  cursor: none;
}

/* line 89, app/assets/stylesheets/welcomes.scss */
.header-txt {
  position: fixed;
  top: 20px;
  max-height: 65px;
  z-index: 0;
  font-family: "Benguiat" !important;
  font-size: 16px;
}

/* line 98, app/assets/stylesheets/welcomes.scss */
#tokyo, #life, #life-mobile, #tokyo-mobile {
  display: none;
}

/* line 102, app/assets/stylesheets/welcomes.scss */
#tokyo-mobile, #tokyo, #life, #life-mobile, #all-things, #all-things-mobile {
  background-color: #0b0d22 !important;
}

/* line 106, app/assets/stylesheets/welcomes.scss */
.letter-container1 {
  z-index: 1000;
}

/* line 110, app/assets/stylesheets/welcomes.scss */
.navbar-header {
  height: inherit;
  width: 100%;
}

/* line 115, app/assets/stylesheets/welcomes.scss */
#score-board {
  background-color: rgba(11, 13, 34, 0.79) !important;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 235px;
}

/* line 122, app/assets/stylesheets/welcomes.scss */
#score-board-mobile {
  position: relative;
  top: 55px;
  background-color: rgba(11, 13, 34, 0.79) !important;
}

/* line 127, app/assets/stylesheets/welcomes.scss */
.navbar-brand {
  z-index: 10000;
  font-size: 22px;
  font-family: "Benguiat" !important;
  color: #bababa;
  background-color: rgba(11, 13, 34, 0.79) !important;
  height: 100%;
  border-radius: 10px;
  max-height: 65px;
}

/* line 139, app/assets/stylesheets/welcomes.scss */
ul.collapse-dropdown li {
  font-size: 18px;
  font-family: "Benguiat" !important;
}

/* line 143, app/assets/stylesheets/welcomes.scss */
ul.collapse-dropdown li a {
  font-size: 18px;
  font-family: "Benguiat" !important;
}

/* line 150, app/assets/stylesheets/welcomes.scss */
label {
  margin-bottom: 0;
}

/* line 154, app/assets/stylesheets/welcomes.scss */
ul.dropdown-menu {
  background-color: rgba(11, 13, 34, 0.59) !important;
}

/* line 157, app/assets/stylesheets/welcomes.scss */
ul.dropdown-menu li a {
  font-size: 18px;
  font-family: "Benguiat" !important;
  background-color: rgba(11, 13, 34, 0.49) !important;
  width: 100%;
}

/* line 165, app/assets/stylesheets/welcomes.scss */
.restart-count, .destroy-count {
  color: white;
  text-align: right;
}

/* line 171, app/assets/stylesheets/welcomes.scss */
.dropdown.open {
  width: 100%;
}

/* line 176, app/assets/stylesheets/welcomes.scss */
.btn-secondary {
  font-size: 20px;
}

/* line 181, app/assets/stylesheets/welcomes.scss */
#all-things, #tokyo, #life {
  position: relative;
  top: -20px;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: none;
}

/* line 189, app/assets/stylesheets/welcomes.scss */
.crest {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/assets/ek-83f7a7b4abbefc4476287cb2689ea30347eb8717870438fbc80dd2496e6434fc.png);
  position: relative;
  z-index: 1000000;
  height: 75px;
  width: 75px;
}

/* line 199, app/assets/stylesheets/welcomes.scss */
.navbar {
  position: fixed;
  width: 100%;
}

/* line 205, app/assets/stylesheets/welcomes.scss */
.navbar ul li a {
  color: #bababa !important;
}

/* line 212, app/assets/stylesheets/welcomes.scss */
.crest2 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/assets/ek-83f7a7b4abbefc4476287cb2689ea30347eb8717870438fbc80dd2496e6434fc.png);
  position: absolute;
  bottom: 5px;
  left: 20px;
  z-index: 1000000;
  height: 75px;
  width: 75px;
}

/* line 224, app/assets/stylesheets/welcomes.scss */
.scrollable {
  overflow: scroll;
}

/* line 228, app/assets/stylesheets/welcomes.scss */
nav.navbar.navbar-default {
  margin-bottom: 0px !important;
  border: none;
  border-radius: 0px !important;
  background-color: #0B0D23;
}

/* line 235, app/assets/stylesheets/welcomes.scss */
.f {
  color: #4F5AF2;
  font-family: 'Arial';
  font-size: 0.7rem;
  position: fixed;
  bottom: 5px;
  right: 15px;
  text-align: center;
}

/* line 245, app/assets/stylesheets/welcomes.scss */
.f a {
  font-size: 0.8rem;
  color: #F2F3AE;
}

/* line 249, app/assets/stylesheets/welcomes.scss */
#musicModal {
  z-index: 1000000;
}

/* line 251, app/assets/stylesheets/welcomes.scss */
#musicModal .modal-content {
  background: transparent;
}

/* line 254, app/assets/stylesheets/welcomes.scss */
#musicModal .modal-dialog {
  width: 100%;
  margin-left: 0 !important;
  background: transparent;
}

/* line 259, app/assets/stylesheets/welcomes.scss */
#musicModal .modal-header {
  border-bottom: none;
  padding: 0;
}

/* line 264, app/assets/stylesheets/welcomes.scss */
.the-buttons {
  position: relative;
  margin-left: 15px !important;
  top: 60px;
  background-color: rgba(11, 13, 34, 0.79) !important;
  border-radius: 10px;
  padding: 0 !important;
}

@media (min-width: 1000px) {
  /* line 274, app/assets/stylesheets/welcomes.scss */
  .header-txt {
    font-size: 20px !important;
  }
}

@media (max-width: 1000px) {
  /* line 281, app/assets/stylesheets/welcomes.scss */
  .header-txt {
    font-size: 16px !important;
  }
  /* line 285, app/assets/stylesheets/welcomes.scss */
  .descisions {
    top: 20px;
  }
}
