// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'animate/bounce';
@import 'animate/fadeIn';

@font-face {
  font-family: "Benguiat";
  src: url('Benguiat.ttf') format("truetype");
}

body {
  overflow: hidden;
  background-color: #0B0D23 !important;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
}
p, a, span {
  font-size: 16px;
}

#form, #form1{
  padding: 0 !important;
}
.chorus{
  margin-left: 30px;
}
.modal {
  top: -60px!important;
}
.modal-content {
  top: 60px!important;
  background-color: #0B0D23 !important;
}
.modal-body {
  min-height: 300px;
}
.modal-dialog{
  margin-top: 5em !important;
  opacity: .9;
  width: 80%;
  padding: 0 400px 0 400px;
}
.close {
  color: rgb(249, 37, 9);
  opacity: 1;
}
.lyric {
  top:-60px!important;
}
#funModal{ height: 100% }
#drawModal{
  top: -120px!important;
  .modal-dialog{
    padding: 0;
    width: 100% !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  }
}
#example{
  z-index: 10000;
  .modal-dialog{
    opacity: 1;
  }
}
#color-sample, #color-picker {
  opacity: 1;
}


#drawing-canvas{

  cursor:none;
}


.header-txt {
  margin: 10px;
  position: fixed;
  top: 45px;
  left: 65px;
  width: 85%;
  z-index: 0;
  font-family: "Benguiat" !important;
  font-size: 20px;
}
#tokyo, #life, #life-mobile, #tokyo-mobile{
  margin-left: 15px;
  display: none;
  position: relative;
  bottom: 15px;
}
#tokyo-mobile, #tokyo, #life, #life-mobile, #all-things, #all-things-mobile{
  line-height: 28px;
  background-color:#0b0d22 !important;
  border-radius: 25px;
  padding: 0 5px;
}

.letter-container1 {
  z-index: 1000;
}

.navbar-header {
  height: inherit;
  width: 100%;
}
#score-board {
  position: absolute;
  right: 0;
  top: 100px;
  padding: 25px;
  border-radius: 25px;
}
#score-board-mobile {
  position: relative;
  bottom: 0;

}
a.navbar-brand {
  width: 110%;
  text-align: center;
  z-index: 10000;
  font-size: 22px;
  font-family: "Benguiat" !important;
  background-color:#0b0d22 !important;
}
ul.collapse-dropdown {
  width: 100%;
  margin: 0;
  li {
    font-size: 18px;
    font-family: "Benguiat" !important;
    background-color:rgba(#0b0d22, 0.79)  !important;
    a{
      font-size: 18px;
      font-family: "Benguiat" !important;
    }
  }
}
label {
  margin-bottom: 0;
}
ul.dropdown-menu{
  background-color:rgba(#0b0d22, 0.59)  !important;
  li {
    a{
      font-size: 18px;
      font-family: "Benguiat" !important;
      background-color:rgba(#0b0d22, 0.49)  !important;
    }
  }
}
.dropdown.open{
  background-color:rgba(#0b0d22, 0.49)  !important;
}

.btn-group{
  margin-top: 5px;
  padding: 0 !important;
  background-color:rgba(#0b0d22, 0.79) !important;
}
#all-things-mobile, #all-things{
  position: relative;
  bottom: 15px;
  max-height: 50px;
  border-radius: 0 0 25px 0;
}
#all-things-mobile{
left: -80px;
bottom: 45px;
padding-left: 20px;
width: 100%;}

.crest {
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-image:  image-url('ek.png');
  position: relative;
  z-index: 1000000;
  height: 75px;
  width: 75px;
}
.navbar{
  position: fixed;
  width: 100%;

  ul{
    li{
      a{
          color: #bababa !important;
      }
    }
  }
}
.crest2 {
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-image:  image-url('ek.png');
  position: absolute;
  bottom: 5px;
  left: 20px;
  z-index: 1000000;
  height: 75px;
  width: 75px;
}
.scrollable{
  overflow: scroll
}
nav.navbar.navbar-default{
  margin-bottom: 0px !important;
  border: none;
  border-radius: 0px !important;
  background-color: #0B0D23;
}

.f {
  color: #4F5AF2;
  font-family: 'Arial';
  font-size: 0.7rem;
  position: fixed;
  bottom: 5px;
  right: 15px;
  text-align: center;
}

.f a {
  font-size: 0.8rem;
  color: #F2F3AE;
}
